.header1{
    top:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 30px 40px 10px rgb(153, 191, 49);
    border-color: aquamarine;
    background-color: aquamarine;
    padding-block: 10px 100px;
    font-size: 50px;
    color:azure;
}
ul{
    list-style: none;
    text-align: left;
    padding-block: 10px 20px;
    background-color: rgb(36, 195, 76);
    border-right: 50px;
}
/* Split the screen in half */
.split {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 34%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(22, 170, 32);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: red;
  }
  .foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(79, 26, 103);
    color: white;
    text-align: center;
    padding-block: 100px 5px;
  }